.DS_Store
._*
.idea/
.env
/graph/generated.go
/api/schema.graphqls
/ent/bank/bank.go
/ent/bank/where.go
/ent/banktranslation/banktranslation.go
/ent/banktranslation/where.go
/ent/currencyrate/currencyrate.go
/ent/currencyrate/where.go
/ent/enttest/enttest.go
/ent/hook/hook.go
/ent/migrate/migrate.go
/ent/migrate/schema.go
/ent/offer/offer.go
/ent/offer/where.go
/ent/predicate/predicate.go
/ent/runtime/runtime.go
/ent/bank.go
/ent/bank_create.go
/ent/bank_delete.go
/ent/bank_query.go
/ent/bank_update.go
/ent/banktranslation.go
/ent/banktranslation_create.go
/ent/banktranslation_delete.go
/ent/banktranslation_query.go
/ent/banktranslation_update.go
/ent/client.go
/ent/currencyrate.go
/ent/currencyrate_create.go
/ent/currencyrate_delete.go
/ent/currencyrate_query.go
/ent/currencyrate_update.go
/ent/ent.go
/ent/gql_collection.go
/ent/gql_edge.go
/ent/gql_mutation_input.go
/ent/gql_node.go
/ent/gql_pagination.go
/ent/gql_transaction.go
/ent/gql_where_input.go
/ent/mutation.go
/ent/offer.go
/ent/offer_create.go
/ent/offer_delete.go
/ent/offer_query.go
/ent/offer_update.go
/ent/runtime.go
/ent/tx.go
/graph/ent.graphqls
/ent/internal/globalid.go
/graph/model/models_gen.go
